ingress
goEDMSBuilds
simpleEDMSIndex.bleve
temp
documents
done
public/node_modules
public/dist
dist
public/built/frontend-config.*
database.txt
.devcontainer
.vscode
notes.txt
databases
staging

# goEDMS bits
goedms.log
goEDMS.db.lock
goEDMS.db

# Files for local testing
.env
demo
